<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
	
	
	<appSettings>
		<add key="WebsiteUrl" value="Your url ending without /" />
		<add key="WebsiteName" value="web site name" />
		<add key="WebsiteHeader" value="web site header" />
		<add key="WebsiteDescription" value="web site descritpion" />
		<add key="WebsiteKeywords" value="web site keywords" />
		<add key="DisqusShortName" value="discuss short name" />
		
		<add key="dbName" value="itmeze_blog" />
	<add key="webPages:Enabled" value="false" /></appSettings>

	<connectionStrings>
		<add name="Itmeze.Blog" connectionString="mongodb://test:test@server.mongolab.com:35448/itmeze_blog" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5">
			
		<buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders></compilation>
		<httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
		
	<httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>


	<location path="content">
		<system.webServer>
			<handlers>
				<remove name="Nancy" />
			</handlers>
		</system.webServer>
	</location>
	<location path="uploads">
		<system.webServer>
			<handlers>
				<remove name="Nancy" />
			</handlers>
		</system.webServer>
	</location>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.1.20" newVersion="1.8.1.20" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.1.20" newVersion="1.8.1.20" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
	
	
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer><system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor></configuration>