@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "Views/Shared/_AdminLayout.cshtml";
}

<h2>ITmeze - Admin - Change Password</h2>

<form action="/admin/changepassword" method="POST">
	<legend>Change password form</legend>
	Old Password: <input type="password" name="OldPassword" />
	<br />
	New Password: <input type="password" name="NewPassword"/>
	<br />
	New Password Confirm: <input type="password" name="NewPasswordConfirm"/>
	<br />
	<input type="submit" value="Submit"/>
</form>